body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.top select {
  width: 100px;
}

.top label {
  margin-right: 8px;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 40px;
}

.label-set {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom label {
  margin-bottom: 8px;
}

td {
  padding: 10px;
}

.table-top {
  padding: 20px 0px;
}

/* Images */

.image-cell {
  width: 300px;
}

.image-container {
  position: relative;
}

.base {
  width: 400px;
  object-fit: cover;
}

.part {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 320px;
  object-fit: cover;
  z-index: 10;
}

.tronco {
  z-index: 9;
}

.arm {
  z-index: 8;
}

.bd-maker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.total-combinations-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}
